.box {
    height: 100px;
    background-color: royalblue;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.brown {
    background-color: brown;
}

.beige {
    background-color: bisque;
}

.black {
    background-color: black;
}

.blu {
    background-color: royalblue;
}

.yellow {
    background-color: darkgoldenrod;
}